[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
discord = "*"

[scripts]
echo = "echo hello"
start = "pipenv run python3 ./main.py"
format = "pipenv run black commands.py get_error_message.py jokes.py main.py message_handler.py reaction.py tables.py test_reaction.py"

[requires]
python_version = "3.9"
