name: deploy-test

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Deploy
        run: ssh -o "StrictHostKeyChecking no" ryan@${INSTANCE_IP} ./deploy.sh
    env:
      SSH_KEY: "${{ secrets.SSH_KEY}}"
      INSTANCE_IP: "${{ secrets.INSTANCE_IP }}"

